node_modules

*.log

*~
*.diff
*.patch
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

.next

.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
.vscode

lcd-font/alphabet.json
