$displayWidth: calc(935 / 1072 * 100%);

.lcdRoot {
  width: 1072px;
  max-width: 98%;
  margin: 0 auto;
}

.lcdWrapOuter {
  position: relative;
  width: 100%;
  padding-bottom: calc((1 - 407 / 1072) * 100%);
  margin-bottom: -22%;
}

.lcdWrapInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/display.png") center top no-repeat;
  background-size: contain;
}

// 1072 x 407 outer

// 935 x 508 inner

.lcdInner {
  display: inline-block;
  width: $displayWidth;
  height: calc(315 / 665 * 100%);
  margin-left: 6.6%;
  margin-top: 4.3%;
  border-radius: 1.4%/2.7%;
  box-shadow: inset 12px 9px 20px -1px rgba(0, 0, 0, 0.8),
    inset -7px -4px 40px rgba(0, 0, 0, 0.7);
}

.grid {
  width: 100%;
  height: 100%;
  padding: 3% 1.5%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-size: 0;
}

.row {
  width: 100%;
  overflow: hidden;
}

$cellWidth: calc(5 / (935 * 0.97) * 100%);

.cell {
  float: left;
  width: $cellWidth;
  padding-bottom: $cellWidth;
  position: relative;
}

.cellInner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 20%;
  padding-bottom: 20%;
}

.cellInnerInner {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.cellOn .cellInnerInner {
  background: #333;
  background: rgba(0, 0, 0, 0.6);
}

.buttons {
  width: $displayWidth;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;

  transition: 0.5s;
  opacity: 1;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.buttonMailto {
  width: 255px;
}

.buttonCv {
  width: 450px;
}

// kudos https://codepen.io/onediv/pen/jEmjap

.button {
  display: block;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  padding: 1em 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;

  font-family: Tahoma;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;

  @media screen and (max-width: 835px) {
    width: 100%;
    margin-bottom: 10px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: 400ms ease all;
  }

  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  &:hover {
    background: #fff;
    color: #1aab8a;

    &:before,
    &:after {
      width: 100%;
      transition: 800ms ease all;
    }
  }

  i {
    margin-right: 5px;
  }
}
