span.label.label-info JavaScript
&#32;
span.label.label-info ES6
&#32;
span.label.label-info CoffeeScript
&#32;
span.label.label-info Node.js
&#32;
span.label.label-success Express
&#32;
span.label.label-success Lodash
br
span.label.label-warning MongoDB
&#32;
span.label.label-danger React
&#32;
span.label.label-danger Redux
&#32;
span.label.label-danger Angular
&#32;
span.label.label-danger Ractive
&#32;
span.label.label-danger jQuery
&#32;
span.label.label-danger Mustache
&#32;
span.label.label-danger Handlebars
br
span.label.label-primary HTML5
&#32;
span.label.label-primary CSS3
&#32;
span.label.label-primary Sass
&#32;
span.label.label-primary LESS
&#32;
span.label.label-default Webpack
&#32;
span.label.label-default Babel
&#32;
span.label.label-default Grunt
&#32;
span.label.label-default Mocha
&#32;
span.label.label-default Git
