---
import Layout from "../layouts/Layout.astro";

import CvContents from "../components/Cv";
---

<Layout>
  <div class="index">
    <CvContents />
  </div>
</Layout>

<script>
  document.getElementById("print-button")?.addEventListener("click", () => {
    window.print();
  });
</script>
