---
import Layout from "../layouts/Layout.astro";

import Lcd from "../components/Lcd";
---

<Layout>
  <slot name="custom-head">
    <link rel="preload" href="/images/display.png" as="image" />

    <style>
      .index {
        width: 100%;
        min-height: 100%;
        padding: 20px 0;
        background: url("/images/circuit-board.png") left top repeat;
      }
    </style>
  </slot>

  <div class="index">
    <Lcd client:load />
  </div>
</Layout>
