---
import "@fontsource-variable/inter";
import Layout from "../layouts/Layout.astro";

import TailwindAnimation from "../components/TailwindAnimation";
import ThemeSwitcher from "../components/ThemeSwitcher";

import { Content } from "./_tailwind.md";
import "./_tailwind.css";
---

<Layout>
  <Fragment slot="custom-head">
    <style>
      :root {
        --light-fg-color: rgb(100, 116, 139);
        --light-bg-color: rgb(255, 255, 255);
        --dark-fg-color: rgb(148, 163, 184);
        --dark-bg-color: rgb(15, 23, 42);
        --bg-color: var(--dark-bg-color);
        --fg-color: var(--dark-fg-color);

        color-scheme: light dark;
        background-color: var(--bg-color);
      }

      .hero {
        color: var(--fg-color);

        font-family: "Inter Variable", Inter, system-ui, Avenir, Helvetica,
          Arial, sans-serif;
      }

      @media (prefers-color-scheme: light) {
        :root {
          --bg-color: var(--light-bg-color);
        }

        .hero {
          --fg-color: var(--light-fg-color);
        }
      }
    </style>

    <script is:inline>
      (function () {
        const cl = document.documentElement.classList;

        if (localStorage.theme === "light") {
          cl.add("is-light");
        } else if (localStorage.theme === "dark") {
          cl.add("is-dark");
        }
      })();
    </script>
  </Fragment>

  <div class="absolute top-4 right-4">
    <ThemeSwitcher client:load />
  </div>

  <section class="hero h-full flex flex-col gap-4 items-center justify-center">
    <h1
      class="flex items-center font-bold flex-col gap-1 text-[5rem] md:text-[6rem] md:gap-2 lg:flex-row lg:text-[7rem] lg:gap-4 xl:text-[8rem] 2xl:text-[10rem]"
    >
      <span>Eugene</span><span>+</span>
      <TailwindAnimation className="top-4" />
      <span>=</span>
      <span class="pt-0.5">?</span>
    </h1>

    <h2 class="text-center text-lg">
      (Scroll down, there are some meaingfull letters&nbsp;below.)
    </h2>
  </section>

  <article class="py-8 border-y-2 border-dashed">
    <div class="prose prose-lg prose-slate dark:prose-invert mx-auto py-8">
      <Content />
    </div>
  </article>

  <section class="py-4 md:py-6 lg:py-8 xl:py-10">
    <video controls class="mx-auto block">
      <source
        src="https://res.cloudinary.com/defvbjqua/video/upload/v1712177667/qebiijqcynf4pezem8s2.webm"
        type="video/webm"
      />
      <source
        src="https://res.cloudinary.com/defvbjqua/video/upload/v1712177668/kpta40qdc105lixozfdz.mp4"
        type="video/mp4"
      />
    </video>
  </section>

  <section class="pb-16 pt-4 md:pt-6 lg:pt-8 xl:pt-10 border-t-2 border-dashed">
    <div class="prose prose-slate dark:prose-invert mx-auto">
      <p class="text-4xl text-center">
        Any Qs? <a href="mailto:emirotin@gmail.com">emirotin@gmail.com</a>.
      </p>
    </div>
  </section>
</Layout>
