@import compass

.page-cv
  .map-canvas
    width: 558px
    height: 400px

  .location .glyphicon
    font-size: 80%

  .skills, .contacts
    display: block

  .skills
    margin-top: 0.8em
    .label
      +inline-block
      margin-bottom: 0.2em

  .projects
    h1
      margin-bottom: 20px
    .carousel
      .carousel-indicators
        background: #333
        background: rgba(black, 0.4)
        +border-radius(3px)
    .carousel-flux
      .item
        min-height: 320px
    .thumbnail
      position: relative
      width: 300px
      max-width: 300px
      text-align: center

    a.thumbnail
      +transition-duration(0.6s)
      .preview
        $size: 52px
        display: none
        position: absolute
        left: 50%
        top: 50%
        width: $size
        height: $size
        line-height: $size
        margin-left: - $size / 2
        margin-top: - $size / 2
        text-align: center
        z-index: 10
        font-size: 150%
        background: white
        background: rgba(white, 0.6)
        +border-radius(7px)
      &:hover
        .preview
          display: block
      &:active
        width: auto
        max-width: 600px
        .preview
          display: none

  footer
    margin-top: 60px
    padding-top: 15px
    font-size: 90%
    border-top: 1px solid #ccc


  @media print
    .print,
    iframe[id^='ghcard-'],
    .projects .media .pull-left,
    .projects .media .pull-right
      display: none
    .my-photo
      width: 100px
    .contacts, .reference, footer
      a:after
        content: ""
    .other
      h1
        font-size: 160%
    footer
      margin-top: 0.6em
      padding-top: 0.2em
    .skills
      font-size: 110%
      br
        display: none
      .label
        background: none
        color: black
        border: 0
        margin: 0
        padding: 0
        font-size: 100%
        vertical-align: baseline
        display: inline
        font-weight: normal
        &:after
          content: ', '
        &:last-child
          &:after
            content: '.'
