@import compass

.grid
  +inline-block
  padding: 10px
  background: image-url('bg.jpg')
  .row
    +clearfix
    .cell
      +inline-block
      float: left
      width: 3px
      height: 3px
      &.on
        background: #333
        background: rgba(black, 0.6)
