span.label.label-info JavaScript
&#32;
span.label.label-info CoffeeScript
&#32;
span.label.label-info Node.js
&#32;
span.label.label-success Express
&#32;
span.label.label-success Underscore
br
span.label.label-warning MongoDB
&#32;
span.label.label-danger jQuery
&#32;
span.label.label-danger Angular
&#32;
span.label.label-danger Ractive
&#32;
span.label.label-danger Backbone
&#32;
span.label.label-danger Mustache
&#32;
span.label.label-danger Handlebars
br
span.label.label-primary HTML5
&#32;
span.label.label-primary CSS3
&#32;
span.label.label-primary Sass
&#32;
span.label.label-primary Compass
&#32;
span.label.label-primary LESS
&#32;
span.label.label-default Grunt
&#32;
span.label.label-default Mocha
&#32;
span.label.label-default Git
&#32;
span.label.label-default Git flow
