





		section.other
			h1 Other Experience
			p
				| My previous experience also includes working as a Technical Writer, Information Architect,
				| Business Analyst, and UX Designer.

		section.other
			h1 Other Technical Skills
			p
				| Besides the listed technologies (JS, Node.js, MongoDB, Python, HTML5, CSS3),
				| I have experience working with RDBMS (MySQL, PostgreSQL, SQLIte),
				| feel fine in Linux / Unix bash environment,
				| did some work in the Cloud (AWS, Heroku),
				| and have enough skills to deploy some basic VPS with LAMP et. al.
			p
				| I also have an interest in
				| embedded systems (like Arduino), academic interest in functional programming
				| (learned OCaml out of curiosity), and a will to spend some time writing
				| mobile apps with front-end stack and tools like PhoneGap.

		section.other
			h1 Education
			p
				| I graduated from&nbsp;
				a(href="http://www.bsu.by/en/main.aspx", target="_blank") Belarusian State University
				| , Faculty of Applied Math and Computer Science.
				| Got Magister degree in 2008.

		section.other.reference
			h1 Need references from my former colleagues?
			p
				a.btn.btn-sm.btn-default(href="mailto:emirotin@gmail.com") Request contacts, write to emirotin@gmail.com

		footer
			p
				| &copy; Eugene Mirotin, 2014 – 2015.&#32;
				a(href="mailto:emirotin@gmail.com") emirotin@gmail.com

