extends layout

block vars
  pageId = 'circuit'

block content
  .display
    #lcd-root.lcd-root

  .buttons
    a.mailto(href="mailto:emirotin@gmail.com")
      span.icon-mail
      | emirotin@gmail.com
    a.cv(href="/cv")
      span.icon-button
      | OK, cool, but... Do you have something more boring?
