---
import "normalize.css/normalize.css";
import config from "../config";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eugene Mirotin CV</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A CV of Eugene Mirotin, Full-Stack JS developer"
    />
    <meta property="og:image" content="/images/me.jpg" />
    <meta
      name="google-site-verification"
      content={config.GOOGLE_VERIFICATION_CODE}
    />

    <link rel="shortcut icon" href="/fav.ico" type="image/x-icon" />
    <link rel="icon" href="/fav.ico" type="image/x-icon" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <style is:global>
      html,
      body {
        height: 100%;
      }

      * {
        box-sizing: border-box;
      }
    </style>

    <slot name="custom-head" />

    <script
      is:inline
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${config.GA_ID}`}
    ></script>

    <script
      is:inline
      set:html={`
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '${config.GA_ID}');
      `}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
